
.handCards {
    display: flex;
    justify-content: center;
}

.floorCards {
    display: flex;
    position: absolute;
    right: 5px;
}

.hiddenCards {
    display: flex;
    position: absolute;
    right: 5px;
}

#icon {
    display: grid;
    justify-self: center;
    align-self: center;
    position: relative;
}

.seat {
    display: flex;
    position: relative;
}

.player {
    color: white;
    z-index: 333;
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
}

.playerName {
    background-color: rgba(24, 22, 22, 0.692);
    width: fit-content;
}

#iconCards {
    display: grid;
    justify-content: center;
    align-content: center;
}

@media (min-width: 1024px) {

}