@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');

#mainwrapper {
    height: 100%;
    width: 100%;
    container-type: size;
    container-name: game-curak;
}

#gameview {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "player player player"
    "table table table"
    "front front front"
    "hand hand hand";
    grid-template-rows: minmax(150px, 307px) 150px 65px minmax(150px, 1fr);
    overflow: hidden;
    grid-template-columns: 1fr;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1c1f24ed;
}

@media (min-width: 1024px) {
    #gameview {
        grid-template-rows: minmax(150px, 307px) minmax(73px, 307px) 65px minmax(150px, 1fr);
    }
}

@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 1024px) {
    #gameview {
        grid-template-rows: 50px 50px 50px minmax(150px, 1fr);
    }
}

@container game-curak (height < 550px) {
    #gameview {
        background-image: none;
        //background-color: red;
        grid-template-rows: minmax(65px, 210px) 130px 65px minmax(150px, 1fr);
    }
   
}


