#playerTurn {
    position: absolute;
    top: -30px;
    left: 10px;
    color: white;
    text-shadow: 
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 0px 8px #000;
    z-index: 333;
}

@media (min-width: 1024px) {
    #playerTurn {
        top: 80px;
    }
}