#drop {
    display: grid;
    z-index: 1;
    
    #cardDrop {
        width: 80px;
        border: 1px solid rgba(255, 255, 255, 0.1803921569);
        justify-self: center;
        height: 115px;
      }

    #cards {
        display: flex;
        position: relative;
    }
}

@media (min-width: 1024px) {
    #drop {
        align-items: center;
    }

    #cardDrop {
        height: 116px !important;
    }
}

